.env
env
data/
test/

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

#temporary
artifacts/
docs/
base/
notebooks/
test/
data/

# deploy
deploy/scripts/config.env
deploy/_local_data/
*.log

docs/
# macOS
.DS_Store
